/*** Elements ***/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
}

h1 {
	font-size: 2em;
}

p {
	font-family: 'Open Sans', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
}

.img-responsive {
	max-width: 100%;
}

.img-circle {
	border-radius: 50%;
}

.img-rounded {
	border-radius: 15%;
}

.float-left {

}

.float-right {

}

.sticky-top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.container {
	color: #212121;
	margin-top: 7em;
}

.container a {
	color: #607D8B;
}

.container a:hover {
	color: #FF8F00;
}

/*** Website Sections ***/
.about {

}

.projects {
	
}

.projects ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.projects ul li {
	margin-top: 2em;
	margin-bottom: 5em;

}

.nav-links {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgba(255,255,255,0.90);
	border-bottom: 1px solid #cfd8dc;
}

.nav-links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links ul li {
	display: inline;
}

.nav-links ul li a {
	text-decoration: none;
	color: #607D8B;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.nav-links ul li a:hover {
	color: #FF8F00;
}

.outgoing-links {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.outgoing-links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.outgoing-links ul li {
	display: inline;
}

.outgoing-links ul li a {
	text-decoration: none;
	color: #607D8B;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.outgoing-links ul li a:hover {
	color: #FF8F00;
}

/*** Media Queries ***/
/* Mobile */
body {
	padding-left: 1em;
	padding-right: 1em;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Desktop */
@media only screen and (min-width: 768px) {
	body {
		text-align: left;
		box-sizing: border-box;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
	}

	.float-left {
		float: left;
		margin-right: 2em;
		margin-bottom: 4em;
	}

	.float-right {
		float: right;
		margin-left: 2em;
		margin-bottom: 2em;
	}

	.container {
		margin-bottom: 10em;
	}
}