h1 {
  font-size: 4.5em;
  font-family: "Leckerli One", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #fff886;
  background: -webkit-linear-gradient(bottom right, #fff886, #dd6161) fixed;
  background: -moz-linear-gradient(bottom right, #fff886, #dd6161) fixed;
  background: linear-gradient(bottom right, #fff886, #dd6161) fixed;
  color: #ffffff;
  margin-top: 2em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

nav.contact {
  display: flex;
  margin-top: 3em;
}

nav.contact > div {
  margin-left: 1em;
  margin-right: 1em;
}

a {
  color: #fbe9e7;
}

a:hover {
  color: #aed581;
}

nav.contact {
  justify-content: center;
}

/*** Media Queries ***/

/* Mobile */

body {
  padding-left: 1em;
  padding-right: 1em;
}

/* Desktop */

@media only screen and (min-width: 768px) {
  body {
    text-align: center;
    box-sizing: border-box;
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  nav.contact {
    margin-top: 2em;
  }
}
