/*** Elements ***/

html {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
}

h1 {
	font-size: 4.5em;
	font-family: 'Raleway', sans-serif;
	margin-bottom: .75em;
}

body {
	font-family: 'Open Sans', sans-serif;
	/*height: 100%;*/
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: #fff886;
	background: -webkit-linear-gradient(bottom right,#fff886,#dd6161) fixed;
	background: -moz-linear-gradient(bottom right,#fff886,#dd6161) fixed;
	background: linear-gradient(bottom right,#fff886,#dd6161) fixed;
	
	
}

p {
	font-family: 'Open Sans', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.img-responsive {
	max-width: 100%;
}

.img-circle {
	border-radius: 50%;
}

.img-rounded {
	border-radius: 15%;
}

.float-left {

}

.float-right {

}

#about .description {
	margin-bottom: 2em;
}

.contact {
	display: flex;
	font-size: .9em;
}

.contact > .labels {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	margin-right: 1em;
}

.contact > .links {
	display: flex;
	flex-direction: column;
}

.container {
	color: #ffffff;
}

.container a {
	color: #FBE9E7;
}

.container a:hover {
	color: #607D8B;
}

/*** Website Sections ***/
.about {
	margin-bottom: 4em;

}

.contact-links {
	padding-top: 1em;
}

.projects {
	
}

.projects ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.projects ul li {
	margin-top: 2em;
	margin-bottom: 4em;

}

/*** Media Queries ***/
/* Mobile */
body {
	padding-left: 1em;
	padding-right: 1em;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Desktop */
@media only screen and (min-width: 768px) {
	body {
		text-align: left;
		box-sizing: border-box;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
	}

	.float-left {
		float: left;
		margin-right: 2em;
		margin-bottom: 4em;
	}

	.float-right {
		float: right;
		margin-left: 2em;
		margin-bottom: 2em;
	}

	.container {
		margin-bottom: 5em;
	}
}